PORT=3001
AIREADY_DATA_DIR=./data
AIREADY_STORAGE_DRIVER=jsonl
AIREADY_BLOBS_STORE=aiready-records
NETLIFY_BLOBS_SITE_ID=
NETLIFY_BLOBS_TOKEN=
AIREADY_SERVE_STATIC=true
AIREADY_STATIC_DIR=./website
AIREADY_ALLOWED_ORIGINS=https://aireadyaudit.com.au,https://www.aireadyaudit.com.au,http://localhost:8802,http://127.0.0.1:8802
STRIPE_WEBHOOK_SECRET=
ADMIN_API_TOKEN=
